<h1><%= @meetup.name %></h1>
<h2><%= @meetup.location %></h2>

<% if signed_in? &&  !current_user.meetups.include?(@meetup) %>
<form action='/meetups/<%= @meetup.id %>/memberships' method='post'>
  <input type="submit" value="Join This Meetup!">
</form>
<% end %>

<p><%= @meetup.description %></p>
